h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(to right, #9845e8 0%, #33d2ff 55%, #dd5789 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

p {
  font-size: 1rem;
  color: #fff;
  margin-top: 1rem;
  line-height: 2;
  font-weight: 300;
}